body{
    margin: 0;
    background-color: ghostwhite;
   
}
.container{
   background-color: darkblue;
   
   
}

.logo1 {
    float: left;
    margin-left: 100px;
    margin-right: 100px;
}

.title1 {
    margin-top: 0;
    text-align: center;
    color: gold;
}

.title2{
    float: left;
    text-align: center;
    margin-left: 50px;
    margin-right: 100px;
    margin-top: 0px;
    color: gold;
}

.logo2 {
    margin-left: 100px;
    margin-right: 100px;
}



.linkbar {
    list-style-type: none;
   margin: 0; 
    background-color: white; 
    margin-right: 0; 
    width: 800px;
    
  }

  .linkbar li {
    float: left;    
  }

 .linkbar li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
  }

 .linkbar li a:hover {
    background-color: greenyellow;
  }
  
  .div3{
      text-align: center;
  }
 
  .div3 p{
      font-size: 17px;
      margin-left: 10%;
      margin-right: 10%;
  }

  .div4 {
      background-color: deepskyblue;
      width: 35%;
      margin-left: 10%;
      margin-right: 1.5%;
      margin-top: 50px;      
      font-size: 17px;
      float: left;
      padding-left: 20px;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .div4 h4 {
      padding-top: 20px;
      color: darkred;      
  }

  .div4 p {
      color: rgb(63, 63, 201);
  }

  .div4 ul {
      line-height: 23px;
  }

  .div5 {
    
      width: 38%;
      margin-left: 1.5%;
      margin-top: 50px;
      margin-right: 10%;      
      font-size: 17px;
      float: left;
      padding-left: 20px;
      border: 1px solid #BFBFBF;
    background-color: white;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.20);
     
  }

  .high {
      line-height: 0;
  }

 

  .div6 {
      float: left;
      padding-top: 0;
     
  }

  .div6ul {
      list-style: none;
      line-height: 30px;     
      padding-left: 0;
  }

  .div7ul {
    width: 500px;
   padding-top: 10px;
     margin-left: 200px;
     margin-right: 300px;
     list-style: none;
     line-height: 30px;
     padding-left: 0;
      
  }

  .div8 {
      background-color: deepskyblue;
      width: 300px;
      height: 150px;
      padding-top: 5px;
      margin-left: 200px;
      margin-right: 300px;
      padding-left: 10px;
      margin-top: 87px;
  }
  

  .div8ul1 {
      float: left;
      margin-top: 0;
      margin-left: 0;
      list-style: none;
      padding: 0;
  }

  .div8ul2 {
      margin-left: 130px;
      list-style: none;
  }

  .contactmail {
      line-height: 0;
  }

  .div9 {
      line-height: 25px;
      padding-bottom: 15px;
      text-align: justify;
     
  } 

  .div10,
   .div11 {
      line-height: 5px;
      padding-bottom: 15px;
  }

  .head9 {
      color: maroon;
  }

  .div11p {
      line-height: 20px;
  }

  .div14 {
    width: 40%;
    margin-left: 1.5%;    
    margin-right: 10%;      
    font-size: 17px;
    float: left;      
  }

  /* .div12 p{
      font-size: 30px;
      text-align: center;
      width: 35%;
      height: 10%;
      background-color: cadetblue;
      border: 5px outset red;
     display: block;
     
  } */

  .div12 {
    float: left;
    width: 37%;
    background: lightblue;
    margin-left: 10%;
    text-align: center;
    font-size: 35px;
    height: 150px;
    padding-top: 10px;
    
  }

  .div13 {
    float: right;
    width: 40%;
    background: lightgreen;
    margin-left: 0;
    margin-right: 10%;
    font-size: 17px;
    line-height: 25px;
    padding-left: 10px;
  }

  .div15 p{
    float: left;
    width: 100%;
    background: darkblue;   
    text-align: center;
    font-size: 20px;   
    padding-top: 10px;
    color: yellow;
    height: 50px;
    padding-top: 20px;
  }

  .footer {
      background-color: blue;
      color: crimson;
  }

  
.slidediv{
    top: 0;
    left: 0;
    margin-right: 0;    
    padding: 0;
}

.prevbtn button{
margin-top: 0;
margin-left: 0;
font-size: 50px;
float: left;
background-color: teal;
height: 300px;
}

.nextbtn button {    
    margin-top: 0;
    padding-top: 0;
    font-size: 50px;
    background-color: teal;
    height: 300px;

}

.slideimg img{
    float: left;
}